# Dependencies
upx
x86_64-linux-musl-native/
zlib-1.2.13/

# Build results
jlink-jre/
webserver.dynamic
webserver.mostly-static
webserver.static
webserver.static-upx
webserver-sbom
webserver-compacted-gc
cp.txt
target/

# VS Code
.vscode/
.DS_Store

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Logs ###
*.log

### Local Environment ###
.env
.env.local
application-local.properties

### Native Image ###
*.native

